
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  margin: 0;
  font-family: "yg-jalnan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'yg-jalnan', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
